<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required="">
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required="" email #email="ngModel" >
            <p class="help-block" *ngIf="!email.valid && email.touched">Error: Enter valid email</p>
          </div>
        </div>
        <p class="help-block" *ngIf="!userData.valid && userData.touched">Error: User data is not valid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret" required="">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply is: {{answer}}</p>
        <div role="radiogroup" >
          <div *ngFor="let gender of genders">
            <input id="gender{{gender}}" type="radio" name="gender" ngModel [value]="gender" #radios="ngModel" required="">
            <label for="gender{{gender}}">{{gender}}</label>
          </div>
        </div>
<!--         <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender">
            {{gender}}
          </label>
        </div> -->
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{answers.username}}</p>
      <p>Mail: {{answers.email}}</p>
      <p>Secret Question: {{answers.secret}}</p>
      <p>Answer: {{answers.answer}}</p>
      <p>Gender: {{answers.gender}}</p>
    </div>
  </div>
</div>
