/* You can add global styles to this file, and also import other style files */
.help-block{
	color: red;
}
.redline{
	border: 1px solid red !important;
}
.redlines *{
	border: 1px solid red !important;
}
